/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and HTML Styling */
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Body Styling */
body {
  background: rgb(255, 255, 255);
  color: white;
  font-family: "Mona Sans", serif;
}

/* Background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(1.2);
  z-index: -1;
  overflow: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
}

.logo {
  font-size: 2rem;
  background: linear-gradient(45deg, #d8d8d8, #414141, #131313);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Main Section */
.main-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text1 {
  position: absolute;
  bottom: 40%;
  right: 10%;
  font-size: 4rem;
  background: linear-gradient(45deg, #d8d8d8, #414141, #131313);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
}

/* Authentication Section */
.auth-section {
  margin-top: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px 20px;
  color: white;
  height: 100vh;
}

.signup-container,
.login-container {
  width: 45%;
  max-width: 600px;
  text-align: center;
}

form label {
  display: block;
  margin: 10px 0 5px;
  font-size: 1rem;
}

form input,
form button {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  padding: 10px 20px;
  background: linear-gradient(45deg, #d8d8d8, #414141, #131313);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

form button:hover {
  background: linear-gradient(45deg, #414141, #d8d8d8);
}